$color-primary : #C6db5d;
$color-primary-hover :#D7E68D;
$color-secondery: #0098FF;
$color-third: #00385B;
$color-blue-text: #1A2C62;
$color-light-blue-text: #53C1DB;
$color-red-text: #ED1C24;
$color-grey-text: #B2BBC9;
$color-dark-grey-text: #363636;
$color-grey-background: #F8FAFB;
$color-white :#fff;
$color-black : #000;
