$site-width: 1450px;
$col-space: 1.5rem;
$xs : 480px;
$sm : 576px;
$md : 770px;
$lg : 992px;
$xl : 1200px;

$right: right;
$left: left;

$font-size-small-text:12px;
$font-size-regular-text:15px;
$font-size-title-text:20px;
$font-family:Arial, Helvetica, sans-serif;
$background-opacity:rgb(255 255 255 / 64%);


