.App {
  text-align: center;
  background: url('../src/images/pic.jpg') no-repeat center / cover;

}
/*scroll*/
::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-track {
  background: #41413f;
  -webkit-box-shadow: inset 0 0 6px rgba(255,255,255,0.2);
  border-radius: 0px;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #C6db5d;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
